@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css');

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color-scheme: rgb(229, 183, 183);
    margin: 8px;
}

p,
select,
input,
span {
    font-size: large;
}

table {
    width: 90% !important;
    margin-left: 5%;
}

.emoji-image {
    font-size: 24px;
}

thead {
    font-weight: 800;
    font-size: larger;
}

tbody tr:hover {
    background: rgba(39, 200, 63, 0.444);
}

.button-big-emoji {
    font-size: x-large;
}

.toast-msg {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 46px;
    width: 100%;
    background-color: darkslateblue;
    color: whitesmoke;
    border-radius: 6px;
    font-size: larger;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
